/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Niconne&family=Oregano:ital@0;1&display=swap');
/* Global Styles */
:root {
    --main-color:#d9caad;
    --secondary-color:  #405742;
    --text-color: #4f4406;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2.5px solid var(--secondary-color); 
    border-radius: 50px;
    color: var(--secondary-color);
    font-size: 24px;
    font-style: bold;
    font-family: 'Google Sans', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* Reset default styles for all elements */
ul {
    list-style: none;
}

/* Remove underline from all anchor tags */
a {
    text-decoration: none;
}


/* Top Section 
Container and Row Styles */
.container {
    margin: auto;
    max-width: 93%;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.row.justify-content-between {
    justify-content: space-between;

}

.top {
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo styles */   
.top .logo img {
    width: 75px;
   
}

/* Hamburger nav styles */
.top .nav-bar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.top .nav-bar span{
    display: block;
    height: 3px;
    width: 40px;
    background-color: var(--secondary-color);
    position: relative;
}

.top .nav-bar span::before {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-10px);
    background-color: var(--secondary-color);    
}

.top .nav-bar span::after {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: var(--secondary-color);
    transition: all 0.3s ease;     
} 

/* Convert hamburger-nav icon to cross-nav icon when clicked */
.top .nav-bar.active span {
    background-color: transparent;
}

.top .nav-bar.active span::before {
    transform: rotate(-135deg);
}

.top .nav-bar.active span::after {  
    transform: rotate(135deg);
}

/* nav item animation when nav bar is active */
.top .nav-bar.active {
    position: relative;
    top: 10%;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.nav-items.active {
    transform: translateY(0);
}
/* Navigation item styles */
.nav-items {
    position: absolute;
    width: 150px;
    background-color: var(--main-color);
    right: 0;
    top: 0;
    padding: 61px 0 0 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    opacity: 0.8;
}

.nav-items a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: bold;
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;  
}

/* Menu item hover effect */

.nav-items a:hover{ border-bottom: 0px; color: var(--main-color);}

.nav-items a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  -webkit-transition: all 0.3s ease 0s; 
  transition: all 0.3s ease 0s; 
  z-index: -1;
}

.nav-items a:hover:after{ width: 100%; }
.nav-items a:after{ background: var(--secondary-color); }

/* Hero Section Styles */

/* Hero-Image Section */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-image::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./asset/img/hero-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
    z-index: -2;
    animation: Inout 8s infinite;
}   

@keyframes Inout {
    0%, 100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}   

.hero-image::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 41, 0.4);
    opacity: 0.3;
    z-index: -1;
} 

.hero-image .hero-image-content {
    text-align: center;

    color: whitesmoke;
}

.hero-image-content h2{
    font-size: 70px;    
    font-weight: bold;
    margin: -120px 0 0px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;

}

.hero-image-content p {
    font-size: 30px;
    font-family: "Dancing Script", monospace;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    margin: 15px 0 20px 0;

}