@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;

}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #D3A05F;
  color: white;
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.2);
 
}

nav a{
  font-size: 1.5rem;
  color:white;
  margin-left: 3rem;
  font-weight: 500;
  transition: 0.3s rem;
  border-bottom: 3px solid transparent;
}

nav a:hover{
  color:white;
  border-bottom: 3px solid burlywood;
}

@media(max-width: 995px){
  nav{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: burlywood;
    padding: 3rem;
    border-left: 3px solid burlywood;
    border-bottom: 3px solid burlywood;
    border-bottom-left-radius: 2rem;
    background-color: burlywood;
    border-top: 0.1rem solid burlywood;
}
  nav.active{
    display:block;
  }

  nav a{
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
  }

  nav a:hover{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid burlywood;
  }
}


section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 6rem;
  background-color: #D3A05F;
}

.home .home-content h1{
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4;
  /* need help adjusting the content */
}

.span{
  color: burlywood;
}

.home .home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
} 

.home-img{
  border-radius: 50%;
}

.home-img img{
  position: relative;
  width: 30vw;
  height: 40vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px solid burlywood;
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover{
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons i {
  color: #333; 
  font-size: 35px;
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  background-color:bisque;
  border: 0.3rem solid #D3A05F;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-icons a:hover{
  color: burlywood;
  transform: scale(1.2)translateY(-5px);
  background-color: bisque;
  box-shadow: 0 0 25px white
}

.btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: bisque;
  color: #333;
  font-size: 2rem;
  border-radius: 4rem;
  letter-spacing:0.3rem;
  font-weight: 600;
  border: 2px solid #D3A05F;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover{
  background-color: bisque;
  color: #333;
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px white;
}

.typing-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span{
  position: relative;
}

.typing-text span::before{
  content:"Web Developer";
  color: brown;
  animation: words 20s infinite
}

.typing-text span::after{
  content:"";
  background-color: #D3A05F;
  position: absolute;
  width: calc(100%+ 8px);
  height: 100%;
  border-left: 3px solid #D3A05F;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to{
    border-left: 3px solid burlywood;
  }
}

@keyframes words {
  0%, 20% { content: "Web Developer"; }
  21%, 40% { content: "Front-End Developer"; }
  41%, 60% { content: "Back-End Developer"; }
  61%, 80% { content: "Full Stack Developer"; }
  81%, 100% { content: "Software Engineer"; }
}

@media(max-width: 1000px){
  .home{
    gap:4rem
  }
}

@media(max-width: 995px){
  .home {
    flex-direction: column;
    margin:5rem 4rem
  }

  .home .home-content h3{
   font-size: 2.5rem;
  }

  .home .home-content h1{
    font-size: 5rem;
  }

  .home-img img {
    width: 40vw;
    height: 50vw;
    margin-top: 4rem
  }
}