
/* file: styles.css */
body {
    margin: 5rem auto;
    background-color: whitesmoke;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
    height: 80px;
    font-family: Tahoma, sans-serif;
    color: white;
    text-shadow: #ffbb 1px 0 5px;
    letter-spacing: .25em;
    margin-bottom: 50px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
  }
  
  .gallery-item {
    height: 350px;
    width: 300px;
    border-radius: 5px;
  }
  
  .gallery-item:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.8s;
  }
  
  .lightbox {
    position: fixed;
    display: none;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 30%;
    background: rgba( 255, 255, 255, 0.8 );
  }

#close-btn {
  position: absolute;
  top: 10px;     /* Distance from the top */
  right: 10px;   /* Distance from the right */
  z-index: 10;   /* Ensures it stays above other elements */
}
  #lightbox-image {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  #lightbox-image:hover {
    cursor: pointer;
  }
  
  #close {
    position: relative;
    left: 20px;
    font-size: 5em;
    font-weight: 600;
  }
  
  #close:hover {
    cursor: pointer;
  }

  @media (width < 800px) {
    body {
      display: grid;
    }
  }