body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: #f4f4f4;
}
input, button, select {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

body.dark {
  background-color: #121212;
  color: #f4f4f4;
}

