/* image=https://tse1.mm.bing.net/th/id/OIP.c2eFa2ByCAM6VEIsc-5l6QHaE8?rs=1&pid=ImgDetMain&o=7&rm=3 */

body {
    margin:0;
    padding:0;
    font-family: Arian, sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-image: url("https://images.pexels.com/photos/33240141/pexels-photo-33240141.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0 10px;
    box-sizing: border-box;
}

.hero h1{
    font-size: clamp(2rem, 5vw, 3.5rem); /* Responsive font size */
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0,0,0, 1.5);
    margin-bottom: 0;
}

.hero p{
    font-size: clamp(1rem, 3vw, 2rem); /* Responsive font size */
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    margin-top: 10px;
}
